@media(max-width: 850px){ 
    /*cabeçalho*/ 

    body{
        text-align: center;
    }
    header>img{
        width: 100vw;
        height: 400px;
        border: none;
        border-radius: 0;
    }
    
    /*principal*/
    
    main{
        border-bottom: none;
        padding-top: 30px;
    
    }

    .ajuste>h1{
        text-align: unset;
    }

    section{
        flex-direction: column;
        

        padding-bottom: 30px;
    }
    
    section>img{
        width: 100vw;
        border: none;
        border-radius: 0;
    }  

    .invertido{
        flex-direction: column-reverse;
    }

    #secao1{
        border-bottom: 2px solid white;
    }
    
    #secao2{
        border-bottom: 2px solid white;
    }

    footer{
        border-top: 2px solid white;
        margin-top: -60px;

        font-size: 0.7em;
        text-align: justify;
    }
}